.wrapper{
  background:linear-gradient(to right,#eee4e7 35%,#cabad9 35.5%,#cabad9 45%,#d9c3cb 45.5%,#dfd5db 100%);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .leftBottom{
    position: absolute;
    width: 90%;
    height: 80%;
    background:#f6e8e3 ;
    border-radius: ~"37% 63% 64% 36% / 30% 32% 68% 70% ";
    left: 0;
    bottom: -572px;
  }
  article{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 22%;
    left: 30%;
    span{
      color: #ffffff;
      font-size: 20px;
      letter-spacing: 2px;

    }
    h1{
      color:#42787f;
      font-size: 24px;
      font-weight: 800;
    }
    p{
      color: #d18d7b;
      letter-spacing: 2px;
    }
  }
}
